html {
  font-size: 90%;
}
body {
  line-height: 1.5;
  font-family: sans-serif;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color:black;
  margin:2em;
}

h1 {
  text-decoration: underline red;
  text-decoration-thickness: 3px;
  text-underline-offset: 6px;
  font-size: 220%;
  font-weight: bold;
}

h2 {
  font-weight: bold;
  color: #005A9C;
  font-size: 140%;
  text-transform: uppercase;
}

h3 {
  font-weight: bold;
  font-size: 120%;
}

p {
  margin: 1em 0;
}

pre {
  padding: 0px;
  border:0px;
  border-radius: 0px;
  max-height: 100rem;
  text-size-adjust: 20%;
}

red {
  color: red;
}

a {
  color: #337ab7;
}
p {
  margin-top: 1rem;
}
a:hover {
  color:#23527c;
}
a:visited {
  color: #8d75a3;
}

#controls {
  /* position: fixed; */
  display: flex;
  margin-top: 2rem;
}
button {
  flex-grow: 1;
  height: 2.5rem;
  min-width: 7rem;
  border: none;
  border-radius: 0.15rem;
  background: #ed341d;
  margin-left: 2px;
  box-shadow: inset 0 -0.15rem 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#ffffff;
  font-weight: bold;
  font-size: 1rem;
}
button:hover, button:focus {
  outline: none;
  background: #c72d1c;
}
button::-moz-focus-inner {
  border: 0;
}
button:active {
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.2);
  line-height: 3rem;
}
button:disabled {
  pointer-events: none;
  background: lightgray;
}
button:first-child {
  margin-left: 0;
}
audio {
  display: block;
  width: 100%;
  margin-top: 0.2rem;
}
li {
  list-style: none;
  margin-bottom: 1rem;
}
#formats {
  margin-top: 0.5rem;
  font-size: 80%;
}
#record {
  float: left;
  margin-right: 3rem;
  max-width: 30rem;
  min-width: 30rem;
}
.ulBtn {
  float: left;
  max-width: 7rem !important;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  max-width: 1000px;
}
th, td {
  padding: 15px;
}
table {
  width: 100rem;
}

#collectBtn, #cancelBtn {
  max-width: 5rem;
}

#collect {
  display: flex;
  margin-right: 5rem;
}

#status {
  flex-grow: 1;
  height: 2.5rem;
  min-width: 2rem;
  max-width: 15rem;
  width: 10rem;
  border: none;
  border-radius: 0.15rem;
  background: gray;
  margin-left: 200px;
  margin-top: 0px;
  box-shadow: inset 0 -0.15rem 0 rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  color:#ffffff;
  font-weight: bold;
  font-size: 1rem;
}

#success {
  flex-grow: 1;
  height: 2.5rem;
  min-width: 2rem;
  max-width: 15rem;
  width: 10rem;
  border: none;
  border-radius: 0.15rem;
  background: green;
  margin-left: 200px;
  margin-top: 0px;
  box-shadow: inset 0 -0.15rem 0 rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  color:#ffffff;
  font-weight: bold;
  font-size: 1rem;
}

#failed {
  flex-grow: 1;
  height: 2.5rem;
  min-width: 2rem;
  max-width: 15rem;
  width: 10rem;
  border: none;
  border-radius: 0.15rem;
  background: red;
  margin-left: 200px;
  margin-top: 0px;
  box-shadow: inset 0 -0.15rem 0 rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  color:#ffffff;
  font-weight: bold;
  font-size: 1rem;
}

#textTrans {
  min-width: 30rem;
  min-height: 15rem;
}

.cb {
  background: gray;
}
.cb:hover, .cb:focus {
  outline: none;
  background: rgb(68, 68, 68);
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #005A9C; /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}